numpy==1.12.1
keyring==10.4.0
pyasn1==0.4.2
certifi==2017.4.17
lxml==4.0.0
Cython==0.28.2
pyOpenSSL==18.0.0
backports.functools_lru_cache==1.5
com==1.0.0
ed25519ll==0.6
protobuf==3.5.2.post1
ipaddr==2.2.0
ipdb==0.11
java==0.0.1
ndg_httpsclient==0.5.0
nt==0.0.0
orderedset==2.0.1
org==1.0.0
redis==2.10.6
sortedcontainers==2.0.2
usercustomize==1.0.0
wincertstore==0.2
pyxdg==0.26
